
<% flash.each do |name, msg| %>
    <% if name == 'notice' %>
        <div class="flash-msg alert alert-success mt-3">
            <%= msg %>
        </div>
    <% elsif name =='alert' %>
        <div class="flash-msg alert alert-danger mt-3">
            <%= msg %>
        </div>
    <% end %>
<% end %>
